<figure>
    <a href='/'><img src="../assets/LogowTag.png" alt="Logo header" width="10%" height="10%"></a>
    <figcaption>Fig1. - LogowTag</figcaption>
</figure>


<nav id="first">
    <a href="/">inicio</a></li>
    <a href="/products">productos</a></li>
    <a href="/aboutus">acerca de</a></li>
</nav>
<nav id="second">
    <a href="/register">register</a></li>
    <a href="/login">login</a></li>
</nav>



<div class="cart_container">
    <a href="/cart" id="cart"><i class="fab fa-opencart"></i></a>
</div>


<form action="">
    <input type="search" placeholder="Buscar..." />
    <i class="fa fa-search"></i>
</form>

