<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head') %> 
</head>

<body>
    <header>
        <div class="logo">
            <a href='/'><img src="../assets/LogowTag.png" alt="Logo header" width="10%" height="10%"></a>
        </div>
        <div class>
            <ul id="bar1">
                <li><a href="/">inicio</a></li>
                <li><a href="/productos">productos</a></li>
                <li><a href="#">acerca de</a></li>
            </ul>
            <ul id="bar2">
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>

        <div class="container__cart">
            <div class="cart">
                <a href="/cart"><i class="fab fa-opencart"></i></a>
            </div>
        </div>

        <div class="searchbar">
            <form action="">
                <input type="search" placeholder="Buscar..." />
                <i class="fa fa-search"></i>
            </form>
        </div>

    </header>
    <main>
        <section class="banner">
            <div class="slide-container">
                <div class="slide-box" style="background-image: url('../assets/banner1.jpg');">
                    <div class="slide-box-containt">
                        <h2>Nuevos ingresos exclusivos</h2>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium</p>
                    </div>
                </div>
                <div class="slide-box" style="background-image: url('../assets/banner2.jpg');">
                    <div class="slide-box-containt">
                        <h2>Ultimos disponibles</h2>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium</p>
                    </div>
                </div>
                <div class="slide-box" style="background-image: url('../assets/banner3.jpg');">
                    <div class="slide-box-containt">
                        <h2>Kits para mixologia botanica</h2>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium</p>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <footer>

    </footer>

</body>

</html>