img{
	max-width: 100%;
}

.banner_wrapper{
	position: relative;
}
.next_arrow{
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	background: url('../images/next.png') center center no-repeat;
	background-size: 60%;
}
.prev_arrow{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	background: url('../images/prev.png') center center no-repeat;
	background-size: 60%;
}
.banner{
	max-width: 100%;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
}
.banner_box{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.banner_box:first-of-type{
	position: relative;
	opacity: 1;
	z-index: 1;
}
input:not(#sb__input){
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
label{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
input:not(#sb__input)+input:not(#sb__input){
	right: auto;
	left: 0;
}
input:first-of-type:not(#sb__input),
label:first-of-type{
	z-index: 3;
}

input:checked:not(#sb__input){
	z-index: 0;
}
input:checked:not(#sb__input) + input:not(#sb__input)+label+.banner_box+input:not(#sb__input){
	z-index: 4
}
input:checked:not(#sb__input) + input:not(#sb__input)+label+.banner_box{
	z-index: 0;
	opacity: 0;
}
input:checked:not(#sb__input) + input:not(#sb__input)+label+.banner_box+input:not(#sb__input)+input:not(#sb__input)+label{
	z-index: 4;
}
input:checked:not(#sb__input) + input+label+.banner_box+input:not(#sb__input)+input:not(#sb__input)+label+.banner_box{
	z-index: 2;
	opacity: 1;
}

input:not(#sb__input)+input:checked:not(#sb__input) + label{
	z-index: 4;
}
input:not(#sb__input)+input:checked:not(#sb__input) + label+.banner_box{
	z-index: 2;
	opacity: 1;
}